body {
  background-color: #ffaaab;
}

a {
  text-decoration: none;
  color: #ffaaab;
}
h1, h2, h3 {
  margin: 0;
}
#container {
  background-color: #fff5d7;
  width: 800px;
margin-left: auto;
  margin-right: auto;
}

#header {
background-color: #FF5E6C;
  color: #1B0000;
  text-align: center;
  padding: 10px;
}

  #content {
    padding: 10px;
  }
  #nav {
    width: 180px;
    float: left;
  }
  #nav ul{
    list-style-type: none;
    padding: 0;
  }
  #nav .selected {
    font-weight: bold;
  #main {
    width: 600px;
    float: right;
  }
  #footer {
    clear: both;
    padding: 10px;
    background-color: #ffaaab;
    color: #faf0e6;
    text-align: right;
  }
